<h1><%= @user.name %>のフォロー一覧</h1>

<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:self_introduction) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_fill: [30, 30])%>
            <% end %>
          </th>
          <td><%= user.name %></td>
          <td><%= user.self_introduction %></td>
          <td><%= link_to t('views.common.show'), user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
<% else %>
  <p>フォロワーはいません</p>
<% end %>
<%= link_to t('views.common.back'), user_path %>
