<h1>My page</h1>

<p>
  <strong>e-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zip_code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Self-introduction:</strong>
  <%= @user.self_introduction %>
</p>

<%= link_to 'Back', users_path %>
