<p>
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong><%= t('views.common.logged_in_as') %>
    <%= link_to t('views.common.edit_profile'), edit_user_registration_path %> |
    <%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t('views.common.signup'), new_user_registration_path %> |
    <%= link_to t('views.common.login'), new_user_session_path %>
  <% end %>
</p>

<h1><%= t('views.common.my_page') %></h1>

<p>
  <strong><%= User.human_attribute_name :email %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name :zip_code %>:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong><%= User.human_attribute_name :address %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name :self_introduction %>:</strong>
  <%= @user.self_introduction %>
</p>

<%= link_to t('views.common.back'), users_path %>
